<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <div class="text">
        L<i>orem</i> ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt vitae nisi in
        aliquam. Etiam eu mollis metus, a dignissim quam. Vestibulum volutpat ut elit at faucibus. Nullam vitae
        gravida orci. Nulla eu cursus ipsum. Sed ullamcorper enim vitae ligula vehicula, placerat aliquam magna
        lobortis. In metus augue, aliquet quis facilisis in, tincidunt at nisl. Nunc posuere felis vitae commodo
        ornare. Vestibulum orci ante, eleifend sed tincidunt non, elementum et justo. Nunc maximus nisi ac lacus
        varius luctus. Etiam ultricies condimentum nunc, quis rutrum tellus ullamcorper vitae. Phasellus efficitur
        nisi vitae purus aliquet dictum.
      </div>
    </div>

    <div class="col">

      <div class="avery">
        <div><img src="/assets/img/parque.jpg"></div>
      </div>

    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="text-align:right;">
        <button type="button" class="btn btn-outline-primary" routerLink="/Login">INICIAR SESIÓN</button>
      </div>
    </div>
  </div>

</div>

